body {
    background: #3a4258;
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
    color: white;
    margin: 0 !important;
    padding: 0 !important;
}

body > .header {
    background: #242939;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

body > .header > img {
    display: inline;
    max-height: 100%;
}

body > .header > .title {
    display: inline-block;
    margin: auto 10px auto 10px;
}

body > section:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px auto 10px auto;
    background: #31364a;
}

section {
    padding: 10px 10px 0 10px;
}

.title {
    font-size:small;
    margin: 0px;
    color:#bcc3d1;
}


textarea, button {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.flex {
    display: flex;
}

.flex > * {
    margin-right: 10px;
}

.col4 {
    width: 500px;
    flex: 4
}

.col6 {
    flex: 6
}

input[type=text] {
    background-color: #24293a;
    color: white;
    border: 0px;
    padding: 5px;
}

input.numeric {
    text-align: right;
}

::-webkit-input-placeholder {
    color: #999999;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;  
}

.drop {
    margin-top: 15px;
}

.drop-info {
    display: inline-block;
    padding: 0px;
    background-color: #24293a;
    border-radius: 2px;
}

.drop-info .icon {
    display: inline;
    background-color: #3c2f4e;
    padding: 2px;
    border-radius: 2px;
    vertical-align: middle;
    height: 50px;
}

.btn {
    background-color: #24293a;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    border: 0px;
}

.btn-drop-add {
    width: 60px;
    height: auto;
}

.btn-drop-add:not(:active) {
    border-bottom: 2px solid #161827;
}

.btn:hover, .btn.active {
    background-color: #0d1b2b;
}

.btn.add {
    color:#ccf397;
}

.btn.remove {
    color: #e86363;
}

.log {
    background-color: #24293a;
    max-height: 400px;
    overflow-y: scroll;
}

.session .btn {
    padding: 5px;
    min-width: 100px;
    margin-bottom: 10px;
    color: #aeb2b7;
    font-size: 14px;
}

.log-message {
    display: block;
    font-size: small;
    opacity: 0.8;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

textarea {
    background-color: #24293a;
    color: white;
}

textarea, .log {
    padding: 5px;
}

.btn-reset {
    background-color: #b75353;
}

.btn-save {
    padding: 6px !important;
    border-radius: 0px 2px 2px 0px;
    background-color: #8cbc37;
}

.btn-log {
    background-color: #c99c00;
}

.buttons {
    margin-top: 5px;
}

.buttons .btn {
    padding: 5px;
}

.buttons input {
    padding: 7px;
    border-radius: 2px 0px 0px 2px;
}

.total:not(:last-child) {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.party h4 {
    height: 20px;
}

.total .surplus {
    opacity: 0.5;
}

.total .number {
    font-size: 18px;
}

.total .count {
    color: yellow;
}

.pull-right {
    float: right;
    height: 100%;
}

.about img {
    max-width:90%;
    max-height:80%;
    margin-top: 10px;
    opacity: 0.5;
    float:right;
}

.about {
    width: 70%;
}

.header h1 {
    color: #1d2935;
}

.toast {
    width: auto !important;
    background-position: 5px center !important;
    background-size: 40px 40px !important;
}